.card-content {
    border-radius: 16px;
    padding: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.35);
}

.card-container {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}