@import "../colors.module.scss";

.categories-container {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    justify-content: center;
    margin: 0px 5%;

    div {
        flex: 1 1 0;
    }
}


.categories-section-title {
    display: block;
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 18px;
    color: $text-color;
}

