@import "../colors.module.scss";

.impres-section-title {
    display: block;
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 19px;
    font-weight: bold;
    color: rgb(65, 65, 65);
    color: $text-color;
}