@import "../colors.module.scss";

.exam-prompt {
    font-size: 32px;
}

.exam-hint-container {
    margin: 16px 0px;

    div {
        margin-top: 32px;
    }
}

.exam-text-mode-submit {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    margin: 24px 0px;
    align-items: center;
    justify-content: center;
}

.timer-text {
    display: flex;
    flex-direction: row;
}

.exam-results {
    font-size: 20px;
}

.result-back-home {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.result-list-title {
    font-size: 32px;
    margin-bottom: 16px;
    display: block;
    width: 80%;
}

.result-list-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-list {
    width: 80%;
    overflow-y: scroll;
    max-height: calc(100vh - 610px);
    padding-right: 8px;
}

.result-list-item {
    display: flex;
    flex-direction: row;
    border: 2px solid #ccc;
    padding: 12px;
    margin-bottom: 2px;
}