@import "../colors.module.scss";

.icon-button-base {
    border: 2px solid;
    padding: 4px 0px 0px 0px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
}

.icon-button-base:hover {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.35);
    transition: 0.1s;
}

.icon-button-small {
    border-radius: 24px;
    width: 48px;
    height: 48px;
}

.icon-button-large {
    border-width: 3px;
    border-radius: 32px;
    width: 64px;
    height: 64px;
}

.icon-button-primary {
    background-color: $primary-color;
    border-color: $primary-color;
}

.icon-button-primary:hover {
    border-color: $primary-color-dark;
}

.icon-button-primary:active {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
}

.icon-button-primary-inverted {
    background-color: $primary-text-color;
    border-color: $primary-text-color;
}

.icon-button-primary-inverted:hover {
    border-color: darken($primary-text-color, 20%);
}

.icon-button-primary-inverted:active {
    background-color: darken($primary-text-color, 20%);
    border-color: darken($primary-text-color, 20%);
}

.icon-button-accent {
    background-color: $accent-color;
    border-color: $accent-color;
}

.icon-button-accent:hover {
    border-color: $accent-color-dark;
}

.icon-button-accent:active {
    background-color: $accent-color-dark;
    border-color: $accent-color-dark;
}

.icon-button-accent-inverted {
    background-color: $accent-text-color;
    border-color: $accent-text-color;
}

.icon-button-accent-inverted:hover {
    border-color: darken($accent-text-color, 20%);
}

.icon-button-accent-inverted:active {
    background-color: darken($accent-text-color, 20%);
    border-color: darken($accent-text-color, 20%);
}