@import 'colors.module.scss';

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-app-bar {
    padding: 16px;
    background: $primary-color;
    color: $primary-text-color;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.app-bar-title {
    margin: 0px 16px;
    font-size: 32px;
}

.app-bar-spacer {
    flex-grow: 1;
}

.footer-spacer {
    flex-grow: 1;
}

.page-footer {
    margin: 20px 0px 0px 0px;
    padding: 20px 10%;
    color: #fff;
    background-color: #444;
}