$primary-color: #66a3aa;
$primary-color-dark: #36747b;
$primary-text-color: #ffffff;
$accent-color: #d44242;
$accent-color-dark: #9d0000;
$accent-text-color: #ffffff;
$text-color: #000000CC;
$error-color: #db4040;
$warn-color: #e0bf2a;
$success-color: #51b133;

:export {
  primary-color: $primary-color;
  primary-color-dark: $primary-color-dark;
  primary-text-color: $primary-text-color;
  accent-color: $accent-color;
  accent-color-dark: $accent-color-dark;
  accent-text-color: $accent-text-color;
  text-color: $text-color;
  error-color: $error-color;
  success-color: $success-color;
  warn-color: $warn-color;
}