$primary-color: #ad1457;
$primary-color-dark: #78002e;
$primary-text-color: #ffffff;
$accent-color: #673ab7;
$accent-color-dark: #320b86;
$accent-text-color: #ffffff;
$text-color: #000000CC;
$error-color: #db4040;

:export {
  primary-color: $primary-color;
  primary-color-dark: $primary-color-dark;
  primary-text-color: $primary-text-color;
  accent-color: $accent-color;
  accent-color-dark: $accent-color-dark;
  accent-text-color: $accent-text-color;
  text-color: $text-color;
  error-color: $error-color;
}