@import "../colors.module.scss";

.login-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 16px;

    * {
        flex: 1 1 0;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.login-content {
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.35);
}

.login-container {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}